{% block content %}
<h2>프로필 편집</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for="{{ form.profile_picture.id_for_label }}"
            >프로필 사진 변경:</label
        >
        {{ form.profile_picture }}
    </div>

    <div>
        <label for="{{ form.nickname.id_for_label }}">닉네임:</label>
        {{ form.nickname }}
    </div>

    <div>
        <label for="{{ form.tag.id_for_label }}">태그:</label>
        {{ form.tag }}
    </div>

    <div>
        <label for="{{ form.introduction.id_for_label }}">소개:</label>
        {{ form.introduction }}
    </div>

    <button type="submit">저장하기</button>
</form>
{% endblock %}
